/* ArticleList.css */
.list-group-item {
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item h5 {
  margin-bottom: 10px;
}

.list-group-item p {
  color: #6c757d;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}
